<style>
    /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
    
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0; 
    color: red;
    font-size: 50px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
    </style>

<h1 align="center">Customers</h1>
<h3 align="right" *ngIf="addCustomer">
        <button class="btn btn-basic" (click)="clear()" onclick="document.getElementById('add').style.display='block'">
                <i class="fa fa-plus"></i>
        </button>
</h3>
<h6>Filter by last name: </h6><input class="form-control input-underline input-lg" type="text"  [(ngModel)]="filter" name="filter" required >                    


<div class="table well">
    <table class="table table-scroll">
        <thead>
            <tr>
                <th width="100">CustomerID</th>
                <th width="100">Last Name</th>
                <th>First Name</th>
                <th width="100">Middle Name</th>
                <th width="100">Cell Phone Number</th>
                <th width="100">Barangay</th>
                <th width="200">Street Name</th>
                <th *ngIf="editCustomer || delCustomer" width="200">Options</th>
             </tr>
        </thead>
        <tbody>
            <tr *ngFor='let customer of customers | customerFilter : filter'>
                <td width="100">{{customer.customerID}}</td>
                <td width="100">{{customer.cusLastName}}</td>
                <td>{{customer.cusFirstName}}</td>
                <td width="100">{{customer.cusMiddleName}}</td>
                <td width="100">{{customer.number}}</td>
                <td width="100">{{customer.barangay}}</td>
                <td width="200">{{customer.address}}</td>
                
                <td *ngIf="editCustomer || delCustomer" width="200">
                    <button *ngIf="editCustomer" class="btn btn-info" (click)="click($event,customer.customerID,customer.cusPassword,customer.cusFirstName,customer.cusMiddleName,customer.cusLastName,customer.number,customer.address,customer.verificationCode,customer.barangay)" onclick="document.getElementById('edit').style.display='block'">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button *ngIf="delCustomer" class="btn btn-danger" (click)="click($event,customer.customerID,customer.cusPassword,customer.cusFirstName,customer.cusMiddleName,customer.cusLastName,customer.number,customer.address,customer.verificationCode)" onclick="document.getElementById('del').style.display='block'">
                        <i class="fa fa-remove"></i>
                    </button>
                    <button class="btn btn-success" (click)="click($event,customer.customerID,customer.cusPassword,customer.cusFirstName,customer.cusMiddleName,customer.cusLastName,customer.number,customer.address,customer.verificationCode)" onclick="document.getElementById('reset').style.display='block'">
                        <i class="fa fa-repeat"></i>
                    </button>
                </td>
            </tr>     
        </tbody>
    </table>
</div>

<!--delete-->
<div id="del" class="modal">
    <span onclick="document.getElementById('del').style.display='none'" (click)="clear()" class="close" title="Close Modal">&times;</span>
        <form role="form" id="datadel" class="modal-content animate">
            <div class="container" align="center">
                <!-- Modal Content --><br><br><br><br>
                    <h3 align="center">Are you sure you want<br> to delete this Customer?</h3><br>
                    <h4 align="center">Customer ID: {{customerID}}</h4>
                    <h4 align="center">Name: {{cusLastName}}, {{cusFirstName}} {{cusMiddleName}}</h4><br><br>            
                    <button class="btn btn-success" (click) ='onSubmitDel()'>
                        Yes
                    </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                       
                    <button class="btn btn-danger" onclick="document.getElementById('del').style.display='none'">
                        No
                    </button><br><br><br><br>
            </div>
        </form>
</div>



<!--edit-->
<!-- The Modal -->
<div id="edit" class="modal">
    <span onclick="document.getElementById('edit').style.display='none'" (click)="clear()" class="close" title="Close Modal">&times;</span>
        <!-- Modal Content -->
        <form [formGroup]="complexForm" role="form" id="dataedit" class="modal-content animate" >
	        <div class="form-content">
                <div class="container" align="center"><br><br>
                    <div align="left" class="form-group" [ngClass]="{'has-error':!complexForm.controls['firstName'].valid && complexForm.controls['firstName'].touched}">
                        <label><b>First Name</b></label>
                        <input type="text" class="form-control input-underline input-lg" [formControl]="complexForm.controls['firstName']" [(ngModel)]="cusFirstName" [value]="cusFirstName" name="cusFirstName" required >
                         <div *ngIf="complexForm.controls['firstName'].hasError('required') && complexForm.controls['firstName'].touched" class="alert alert-danger">You must include a first name.</div>
                         <div *ngIf="complexForm.controls['firstName'].hasError('pattern') && complexForm.controls['firstName'].touched" class="alert alert-danger">Symbols and numbers are not allowed</div>
                    </div>
                    <div align="left">
                            <label><b>Middle Name</b></label>
                            <input (change)="change()" type="text" [ngModelOptions]="{standalone: true}" class="form-control input-underline input-lg" [value]="cusMiddleName"  [(ngModel)]="cusMiddleName" name="cusMiddleName" required > 
                    </div>
                    <div align="left" class="form-group" [ngClass]="{'has-error':!complexForm.controls['lastName'].valid && complexForm.controls['lastName'].touched}">
                            <label><b>Last Name</b></label>
                            <input type="text" class="form-control input-underline input-lg" [formControl]="complexForm.controls['lastName']" [value]="cusLastName"  [(ngModel)]="cusLastName" name="cusLastName" required >
                            <div *ngIf="complexForm.controls['lastName'].hasError('required') && complexForm.controls['lastName'].touched" class="alert alert-danger">You must include a last name.</div>           
                            <div *ngIf="complexForm.controls['lastName'].hasError('pattern') && complexForm.controls['lastName'].touched" class="alert alert-danger">Symbols and numbers are not allowed</div> 
                    </div>
                    <div align="left" class="form-group" [ngClass]="{'has-error':!complexForm.controls['number'].valid && complexForm.controls['number'].touched}">
                            <label><b>Cell Phone Number</b></label>
                            <input type="text" class="form-control input-underline input-lg" [formControl]="complexForm.controls['number']" [value]="number"  [(ngModel)]="number" name="number" required >
                            <div *ngIf="complexForm.controls['number'].hasError('required') && complexForm.controls['number'].touched" class="alert alert-danger">You must include a phone number.</div>
                            <div *ngIf="complexForm.controls['number'].hasError('minlength') && complexForm.controls['number'].touched" class="alert alert-danger">Your phone number must be 11 numbers.</div>
                            <div *ngIf="complexForm.controls['number'].hasError('maxlength') && complexForm.controls['number'].touched" class="alert alert-danger">Your phone number must be 11 numbers.</div>
                            <div *ngIf="complexForm.controls['number'].hasError('pattern') && complexForm.controls['number'].touched" class="alert alert-danger">Please enter numbers</div>
                    </div>
                    <div align="left" class="form-group" [ngClass]="{'has-error':!complexForm.controls['address'].valid && complexForm.controls['address'].touched}">
                            
                            
                            <label><b>Barangay</b></label><br>
                            <select (change)="change()" [ngModelOptions]="{standalone: true}" [(ngModel)]="barangay">
                                <option value="Bagacay">Bagacay</option>
                                <option value="Bajumpandan">Bajumpandan</option>
                                <option value="Balugo">Balugo</option>
                                <option value="Banilad">Banilad</option>
                                <option value="Bantayan">Bantayan</option>
                                <option value="Batinguel">Batinguel</option>
                                <option value="Buñao">Buñao</option>
                                <option value="Business District">Business District</option>
                                <option value="Cadawinonan">Cadawinonan</option>
                                <option value="Cambagroy">Cambagroy</option>
                                <option value="Calindagan">Calindagan</option>
                                <option value="Camanjac">Camanjac</option>
                                <option value="Candau-ay">Candau-ay</option>
                                <option value="Cantil-e">Cantil-e</option>
                                <option value="Cervantes Extension">Cervantes Extension</option>
                                <option value="Daro">Daro</option>
                                <option value="Junob">Junob</option>
                                <option value="Looc">Looc</option>
                                <option value="Mangga">Mangga</option>
                                <option value="Mangnao-Canal">Mangnao-Canal</option>
                                <option value="Motong">Motong</option>
                                <option value="Piapi">Piapi</option>
                                <option value="Pulantubig">Pulantubig</option>
                                <option value="Rizal Boulevard">Rizal Boulevard</option>
                                <option value="Silliman Area">Silliman Area</option>
                                <option value="Tabuc-tubig">Tabuc-tubig</option>
                                <option value="Taclobo">Taclobo</option>
                                <option value="Talay">Talay</option>
                                <option value="Tinago">Tinago</option>
                                <option value="Upper Lukewright">Upper Lukewright</option>
                            </select>
                            <br><br>
                            <label><b>Street Name</b></label>
                            <input type="text" class="form-control input-underline input-lg" [formControl]="complexForm.controls['address']" [value]="address" [(ngModel)]="address" name="address" required >
                            <div *ngIf="complexForm.controls['address'].hasError('required') && complexForm.controls['address'].touched" class="alert alert-danger">You must include a street name.</div>
                    </div>
                    <div align="center" class="form-group"> 
                            <br> 
                            <button [disabled]="!complexForm.valid ||  (complexForm.controls['firstName'].pristine && complexForm.controls['lastName'].pristine && complexForm.controls['address'].pristine && complexForm.controls['number'].pristine && verify)" class="btn btn-primary" (click) ='onSubmitEdit()'>Save</button>    
                            <br>
                    </div>
                </div>
            </div>
        </form>
</div>

<!--add-->
<!-- The Modal -->
<div id="add" class="modal">
    <span onclick="document.getElementById('add').style.display='none'" (click)="clear()" class="close" title="Close Modal">&times;</span>
        <!-- Modal Content" -->
        <form [formGroup]="complexForm" role="form" id="dataadd" class="modal-content animate" >
	        <div class="form-content">
                <div class="container" align="center"><br><br> 
                    <div align="left" class="form-group" [ngClass]="{'has-error':!complexForm.controls['firstName'].valid && complexForm.controls['firstName'].touched}">
                            <label><b>First Name</b></label> 
                            <input type="text" class="form-control input-underline input-lg"  [formControl]="complexForm.controls['firstName']"  placeholder="Enter First Name"   [(ngModel)]="cusFirstName" name="cusFirstName" required >
                            <div *ngIf="complexForm.controls['firstName'].hasError('required') && complexForm.controls['firstName'].touched" class="alert alert-danger">You must include a first name.</div>
                            <div *ngIf="complexForm.controls['firstName'].hasError('pattern') && complexForm.controls['firstName'].touched" class="alert alert-danger">Symbols and numbers are not allowed</div>
                    </div>
                    <div align="left">
                            <label><b>Middle Name</b></label> 
                            <input type="text" [ngModelOptions]="{standalone: true}" class="form-control input-underline input-lg" placeholder="Enter Middle Name"  [(ngModel)]="cusMiddleName" name="cusMiddleName" required >                    
                           </div>
                    <div align="left" class="form-group">
                            <label><b>Last Name</b></label>
                            <input type="text" class="form-control input-underline input-lg"  [formControl]="complexForm.controls['lastName']" placeholder="Enter Last Name"  [(ngModel)]="cusLastName" name="cusLastName" required >    
                            <div *ngIf="complexForm.controls['lastName'].hasError('required') && complexForm.controls['lastName'].touched" class="alert alert-danger">You must include a last name.</div>           
                            <div *ngIf="complexForm.controls['lastName'].hasError('pattern') && complexForm.controls['lastName'].touched" class="alert alert-danger">Symbols and numbers are not allowed</div>
                    </div>
                    <div align="left" class="form-group">
                            <label><b>Cell Phone Number</b></label>
                            <input type="text" class="form-control input-underline input-lg"  [formControl]="complexForm.controls['number']" placeholder="Enter Phone Number"  [(ngModel)]="number" name="number" required >    
                            <div *ngIf="complexForm.controls['number'].hasError('required') && complexForm.controls['number'].touched" class="alert alert-danger">You must include a phone number.</div>
                            <div *ngIf="complexForm.controls['number'].hasError('minlength') && complexForm.controls['number'].touched" class="alert alert-danger">Your phone number must be 11 numbers.</div>
                            <div *ngIf="complexForm.controls['number'].hasError('maxlength') && complexForm.controls['number'].touched" class="alert alert-danger">Your phone number must be 11 numbers.</div>
                            <div *ngIf="complexForm.controls['number'].hasError('pattern') && complexForm.controls['number'].touched" class="alert alert-danger">Please enter numbers</div>
                    </div>
                    <div align="left" class="form-group">
                             <label><b>Barangay</b></label><br>
                            <select [ngModelOptions]="{standalone: true}" [(ngModel)]="barangay">
                                <option value="Bagacay">Bagacay</option>
                                <option value="Bajumpandan">Bajumpandan</option>
                                <option value="Balugo">Balugo</option>
                                <option value="Banilad">Banilad</option>
                                <option value="Bantayan">Bantayan</option>
                                <option value="Batinguel">Batinguel</option>
                                <option value="Buñao">Buñao</option>
                                <option value="Business District">Business District</option>
                                <option value="Cadawinonan">Cadawinonan</option>
                                <option value="Cambagroy">Cambagroy</option>
                                <option value="Calindagan">Calindagan</option>
                                <option value="Camanjac">Camanjac</option>
                                <option value="Candau-ay">Candau-ay</option>
                                <option value="Cantil-e">Cantil-e</option>
                                <option value="Cervantes Extension">Cervantes Extension</option>
                                <option value="Daro">Daro</option>
                                <option value="Junob">Junob</option>
                                <option value="Looc">Looc</option>
                                <option value="Mangga">Mangga</option>
                                <option value="Mangnao-Canal">Mangnao-Canal</option>
                                <option value="Motong">Motong</option>
                                <option value="Piapi">Piapi</option>
                                <option value="Pulantubig">Pulantubig</option>
                                <option value="Rizal Boulevard">Rizal Boulevard</option>
                                <option value="Silliman Area">Silliman Area</option>
                                <option value="Tabuc-tubig">Tabuc-tubig</option>
                                <option value="Taclobo">Taclobo</option>
                                <option value="Talay">Talay</option>
                                <option value="Tinago">Tinago</option>
                                <option value="Upper Lukewright">Upper Lukewright</option>
                            </select>
                            <br><br>
                            <label><b>Street Name</b></label>
                            <input type="text" class="form-control input-underline input-lg" [formControl]="complexForm.controls['address']" [value]="address" [(ngModel)]="address" name="address" required >
                            <div *ngIf="complexForm.controls['address'].hasError('required') && complexForm.controls['address'].touched" class="alert alert-danger">You must include a street name.</div>
                    </div> 
                    <div align="center" class="form-group"><br>
                            <button [disabled]="!complexForm.valid" class="btn btn-primary" (click) ='onSubmitAdd()'>Register</button>                     
                    </div><br>
                </div>
            </div>
        </form>
</div>

<!--rset-->
<!-- The Modal -->
<div id="reset" class="modal">
    <span onclick="document.getElementById('reset').style.display='none'" (click)="clear()" class="close" title="Close Modal">&times;</span>
        <!-- Modal Content" -->
        <form [formGroup]="complexForm4" role="form" id="dataadd" class="modal-content animate" >
	        <div class="form-content">
                <div class="container" align="center"><br><br> 
                    <div align="left" class="form-group" [ngClass]="{'has-error':!complexForm4.controls['customerID'].valid}">
                            <label><b>Customer ID</b></label> 
                            <input type="text" [formControl]="complexForm4.controls['customerID']" [value]="customerID" [(ngModel)]='customerID4' name='customerID4' class="form-control input-underline input-lg" id="customerID4" placeholder="Enter Customer ID">
						    <div *ngIf="complexForm4.controls['customerID'].hasError('required') && complexForm4.controls['customerID'].touched" class="alert alert-danger">You must enter a Customer ID.</div>                         
						    <div *ngIf="complexForm4.controls['customerID'].hasError('pattern') && complexForm4.controls['customerID'].touched" class="alert alert-danger">Customer ID can only consist of numbers.</div>                         
					</div>
                    <div align="left" class="form-group" [ngClass]="{'has-error':!complexForm4.controls['recustomerID'].valid}">
                            <label><b>Re-Enter Customer ID</b></label>
                            <input type="text" [formControl]="complexForm4.controls['recustomerID']" [value]="customerID" [(ngModel)]='recustomerID4' name='recustomerID4' class="form-control input-underline input-lg" id="recustomerID4" placeholder="Re-enter Customer ID">
						    <div *ngIf="complexForm4.controls['recustomerID'].hasError('required') && complexForm4.controls['recustomerID'].touched" class="alert alert-danger">You must re-enter Customer ID.</div>
                            <div *ngIf="complexForm4.controls['recustomerID'].hasError('pattern') && complexForm4.controls['recustomerID'].touched" class="alert alert-danger">Customer ID can only consist of numbers.</div>
                    </div>
                    <div  class="form-group">
                            <button [disabled]="!complexForm4.valid"  class="btn btn-primary" (click) ='onSubmitPass($event)'>Reset Password</button>                          
                            <button [disabled]="!complexForm4.valid"  class="btn btn-primary" (click) ='onSubmitCode($event)'>Reset Verification Code</button>  <br><br>
                    </div>
                    
                </div>
            </div>
        </form>
</div>

<!--confirm-->
<!-- The Modal -->
<div id="confirm" class="modal">
    <span onclick="document.getElementById('confirm').style.display='none'" (click)="clear()" class="close" title="Close Modal">&times;</span>
        <!-- Modal Content" -->
        <form [formGroup]="complexForm5" role="form" id="dataadd" class="modal-content animate" >
	        <div class="form-content">
                <div class="container" align="center"><br><br> 
                    <div align="left" class="form-group" [ngClass]="{'has-error':!complexForm5.controls['pass'].valid}">
                            <label><b>Customer service password</b></label> 
                            <input type="text" [formControl]="complexForm5.controls['pass']" [(ngModel)]='custservpass' name='custservpass' class="form-control input-underline input-lg" id="custservpass" placeholder="Enter customer service password">
						    <div *ngIf="complexForm5.controls['pass'].hasError('required') && complexForm5.controls['pass'].touched" class="alert alert-danger">You must enter a Customer ID.</div>                         
					</div>
                    <div  class="form-group">
                            <button [disabled]="!complexForm5.valid"  class="btn btn-primary" (click) ='onSubmitCustServPass($event)'>Reset Password</button>                          
                    </div>
                    
                </div>
            </div>
        </form>
</div>
