<style>
    /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
    
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0; 
    color: red;
    font-size: 50px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
    </style>

<h1 align="center">Customers</h1>
<h3 align="right" *ngIf="addCustomer">
        <button class="btn btn-basic" (click)="clear()" onclick="document.getElementById('add').style.display='block'">
                <i class="fa fa-plus"></i>
        </button>
</h3>
<div class="table">
    <table class="table">
        <thead>
             <th>CustomerID</th>
             <th>Last Name</th>
             <th>First Name</th>
             <th>Middle Name</th>
             <th>Number</th>
             <th>Address</th>
             <th>Verification Code</th>
             <th>Options</th>
        </thead>
        <tbody>
            <tr *ngFor='let customer of customers'>
                <td>{{customer.customerID}}</td>
                <td>{{customer.cusLastName}}</td>
                <td>{{customer.cusFirstName}}</td>
                <td>{{customer.cusMiddleName}}</td>
                <td>{{customer.number}}</td>
                <td>{{customer.address}}</td>
                <td>{{customer.verificationCode}}</td>
                <td>
                    <button *ngIf="editCustomer" class="btn btn-info" (click)="click($event,customer.customerID,customer.cusPassword,customer.cusFirstName,customer.cusMiddleName,customer.cusLastName,customer.number,customer.address,customer.verificationCode)" onclick="document.getElementById('edit').style.display='block'">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button *ngIf="delCustomer" class="btn btn-danger" (click)="click($event,customer.customerID,customer.cusPassword,customer.cusFirstName,customer.cusMiddleName,customer.cusLastName,customer.number,customer.address,customer.verificationCode)" onclick="document.getElementById('del').style.display='block'">
                        <i class="fa fa-remove"></i>
                    </button>
                </td>
            </tr>     
        </tbody>
    </table>
</div>

<!--delete-->
<div id="del" class="modal">
    <span onclick="document.getElementById('del').style.display='none'" class="close" title="Close Modal">&times;</span>
        <form role="form" id="datadel" class="modal-content animate">
            <div class="container" align="center">
                <!-- Modal Content --><br><br><br><br>
                    <h3 align="center">Are you sure you want<br> to delete this Customer?</h3><br>
                    <h4 align="center">Customer ID: {{customerID}}</h4>
                    <h4 align="center">Name: {{cusLastName}}, {{cusFirstName}} {{cusMiddleName}}</h4><br><br>            
                    <button class="btn btn-success" (click) ='onSubmitDel()'>
                        <i class="fa fa-check"></i>
                    </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                       
                    <button class="btn btn-danger" onclick="document.getElementById('del').style.display='none'">
                        <i class="fa fa-remove"></i>
                    </button><br><br><br><br>
            </div>
        </form>
</div>



<!--edit-->
<!-- The Modal -->
<div id="edit" class="modal">
    <span onclick="document.getElementById('edit').style.display='none'" class="close" title="Close Modal">&times;</span>
        <!-- Modal Content -->
        <form [formGroup]="complexForm" role="form" id="dataedit" class="modal-content animate" >
	        <div class="form-content">
                <div class="container" align="center"><br><br>
                    <div align="left" class="form-group" [ngClass]="{'has-error':!complexForm.controls['firstName'].valid && complexForm.controls['firstName'].touched}">
                        <label><b>First Name</b></label>
                        <input type="text" class="form-control input-underline input-lg" [formControl]="complexForm.controls['firstName']" [(ngModel)]="cusFirstName" [value]="cusFirstName" name="cusFirstName" required >
                         <div *ngIf="complexForm.controls['firstName'].hasError('required') && complexForm.controls['firstName'].touched" class="alert alert-danger">You must include a first name.</div>
                         <div *ngIf="complexForm.controls['firstName'].hasError('pattern') && complexForm.controls['firstName'].touched" class="alert alert-danger">Symbols and numbers are not allowed</div>
                    </div>
                    <div align="left" class="form-group" [ngClass]="{'has-error':!complexForm.controls['middleName'].valid && complexForm.controls['middleName'].touched}">
                            <label><b>Middle Name</b></label>
                            <input type="text" class="form-control input-underline input-lg" [formControl]="complexForm.controls['middleName']" [value]="cusMiddleName"  [(ngModel)]="cusMiddleName" name="cusMiddleName" required > 
                            <div *ngIf="complexForm.controls['middleName'].hasError('required') && complexForm.controls['middleName'].touched" class="alert alert-danger">You must include a middle name.</div>
                            <div *ngIf="complexForm.controls['middleName'].hasError('pattern') && complexForm.controls['middleName'].touched" class="alert alert-danger">Symbols and numbers are not allowed</div>
                    </div>
                    <div align="left" class="form-group" [ngClass]="{'has-error':!complexForm.controls['lastName'].valid && complexForm.controls['lastName'].touched}">
                            <label><b>Last Name</b></label>
                            <input type="text" class="form-control input-underline input-lg" [formControl]="complexForm.controls['lastName']" [value]="cusLastName"  [(ngModel)]="cusLastName" name="cusLastName" required >
                            <div *ngIf="complexForm.controls['lastName'].hasError('required') && complexForm.controls['lastName'].touched" class="alert alert-danger">You must include a last name.</div>           
                            <div *ngIf="complexForm.controls['lastName'].hasError('pattern') && complexForm.controls['lastName'].touched" class="alert alert-danger">Symbols and numbers are not allowed</div> 
                    </div>
                    <div align="left" class="form-group" [ngClass]="{'has-error':!complexForm.controls['number'].valid && complexForm.controls['number'].touched}">
                            <label><b>Number</b></label>
                            <input type="text" class="form-control input-underline input-lg" [formControl]="complexForm.controls['number']" [value]="number"  [(ngModel)]="number" name="number" required >
                            <div *ngIf="complexForm.controls['number'].hasError('required') && complexForm.controls['number'].touched" class="alert alert-danger">You must include a phone number.</div>
                            <div *ngIf="complexForm.controls['number'].hasError('minlength') && complexForm.controls['number'].touched" class="alert alert-danger">Your phone number must be 11 numbers.</div>
                            <div *ngIf="complexForm.controls['number'].hasError('maxlength') && complexForm.controls['number'].touched" class="alert alert-danger">Your phone number must be 11 numbers.</div>
                            <div *ngIf="complexForm.controls['number'].hasError('pattern') && complexForm.controls['number'].touched" class="alert alert-danger">Please enter numbers</div>
                    </div>
                    <div align="left" class="form-group" [ngClass]="{'has-error':!complexForm.controls['address'].valid && complexForm.controls['address'].touched}">
                            <label><b>Address</b></label>
                            <input type="text" class="form-control input-underline input-lg" [formControl]="complexForm.controls['address']" [value]="address" [(ngModel)]="address" name="address" required >
                             <div *ngIf="complexForm.controls['address'].hasError('required') && complexForm.controls['address'].touched" class="alert alert-danger">You must include an address.</div>
                    </div>
                    <div align="center" class="form-group"> 
                        <br>
                            <button [disabled]="!complexForm.valid" class="btn btn-primary" (click) ='onSubmitEdit()'>Save</button>    
                            <br>
                    </div>
                </div>
            </div>
        </form>
</div>

<!--add-->
<!-- The Modal -->
<div id="add" class="modal">
    <span onclick="document.getElementById('add').style.display='none'"class="close" title="Close Modal">&times;</span>
        <!-- Modal Content" -->
        <form [formGroup]="complexForm" role="form" id="dataadd" class="modal-content animate" >
	        <div class="form-content">
                <div class="container" align="center"><br><br> 
                    <div align="left" class="form-group" [ngClass]="{'has-error':!complexForm.controls['firstName'].valid && complexForm.controls['firstName'].touched}">
                            <label><b>First Name</b></label> 
                            <input type="text" class="form-control input-underline input-lg"  [formControl]="complexForm.controls['firstName']"  placeholder="Enter First Name"   [(ngModel)]="cusFirstName" name="cusFirstName" required >
                            <div *ngIf="complexForm.controls['firstName'].hasError('required') && complexForm.controls['firstName'].touched" class="alert alert-danger">You must include a first name.</div>
                            <div *ngIf="complexForm.controls['firstName'].hasError('pattern') && complexForm.controls['firstName'].touched" class="alert alert-danger">Symbols and numbers are not allowed</div>
                    </div>
                    <div align="left" class="form-group" [ngClass]="{'has-error':!complexForm.controls['middleName'].valid && complexForm.controls['middleName'].touched}">
                            <label><b>Middle Name</b></label> 
                            <input type="text" class="form-control input-underline input-lg"  [formControl]="complexForm.controls['middleName']" placeholder="Enter Middle Name"  [(ngModel)]="cusMiddleName" name="cusMiddleName" required >                    
                            <div *ngIf="complexForm.controls['middleName'].hasError('required') && complexForm.controls['middleName'].touched" class="alert alert-danger">You must include a middle name.</div>
                            <div *ngIf="complexForm.controls['middleName'].hasError('pattern') && complexForm.controls['middleName'].touched" class="alert alert-danger">Symbols and numbers are not allowed</div>
                    </div>
                    <div align="left" class="form-group">
                            <label><b>Last Name</b></label>
                            <input type="text" class="form-control input-underline input-lg"  [formControl]="complexForm.controls['lastName']" placeholder="Enter Last Name"  [(ngModel)]="cusLastName" name="cusLastName" required >    
                            <div *ngIf="complexForm.controls['lastName'].hasError('required') && complexForm.controls['lastName'].touched" class="alert alert-danger">You must include a last name.</div>           
                            <div *ngIf="complexForm.controls['lastName'].hasError('pattern') && complexForm.controls['lastName'].touched" class="alert alert-danger">Symbols and numbers are not allowed</div>
                    </div>
                    <div align="left" class="form-group">
                            <label><b>Number</b></label>
                            <input type="text" class="form-control input-underline input-lg"  [formControl]="complexForm.controls['number']" placeholder="Enter Phone Number"  [(ngModel)]="number" name="number" required >    
                            <div *ngIf="complexForm.controls['number'].hasError('required') && complexForm.controls['number'].touched" class="alert alert-danger">You must include a phone number.</div>
                            <div *ngIf="complexForm.controls['number'].hasError('minlength') && complexForm.controls['number'].touched" class="alert alert-danger">Your phone number must be 11 numbers.</div>
                            <div *ngIf="complexForm.controls['number'].hasError('maxlength') && complexForm.controls['number'].touched" class="alert alert-danger">Your phone number must be 11 numbers.</div>
                            <div *ngIf="complexForm.controls['number'].hasError('pattern') && complexForm.controls['number'].touched" class="alert alert-danger">Please enter numbers</div>
                    </div>
                    <div align="left" class="form-group">
                            <label><b>Address</b></label>
                            <input type="text" class="form-control input-underline input-lg" class="form-control input-underline input-lg"  [formControl]="complexForm.controls['address']" placeholder="Enter Address" [(ngModel)]="address" name="address" required >             
                            <div *ngIf="complexForm.controls['address'].hasError('required') && complexForm.controls['address'].touched" class="alert alert-danger">You must include an address.</div>
                    </div> 
                    <div align="center" class="form-group"><br>
                            <button [disabled]="!complexForm.valid" class="btn btn-primary" (click) ='onSubmitAdd()'>Register</button>                     
                    </div><br>
                </div>
            </div>
        </form>
</div>
