<style>
    /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0; 
    color: red;
    font-size: 50px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
    </style>




<h1 align="center">Employees</h1>
<h3 align="right" *ngIf="addEmployee">
    <button class="btn btn-basic" (click)="clear()" (click)="uncheck()" onclick="document.getElementById('add').style.display='block'">
        <i class="fa fa-plus"></i>
    </button>
</h3>
<h6>Filter by last name: </h6><input class="form-control input-underline input-lg" type="text"  [(ngModel)]="filter" name="filter" required >                    

<div class="table well">
    <table class="table table-scroll">		
        <thead>
            <tr>
                <th>Employee ID</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Employee Type</th>
                <th *ngIf="editEmployee || delEmployee">Options</th>
            </tr>
        </thead>
        <tbody>
             <tr *ngFor='let employee of employees | employeeFilter : filter'>
                 <td>{{employee.employeeID}}</td>
                 <td>{{employee.empLastName}}</td>
                 <td>{{employee.empFirstName}}</td>
                 <td>{{employee.empMiddleName}}</td>
                 <td>{{employee.empType}}</td>
                 <td *ngIf="editEmployee || delEmployee">
                    <button *ngIf="editEmployee" class="btn btn-info" (click)="click($event,employee.employeeID,employee.empPassword,employee.empFirstName,employee.empMiddleName,employee.empLastName,employee.empType)" onclick="document.getElementById('edit').style.display='block'">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button  *ngIf="delEmployee" class="btn btn-danger" (click)="clickdel($event,employee.employeeID,employee.empFirstName,employee.empMiddleName,employee.empLastName)" onclick="document.getElementById('del').style.display='block'">
                        <i class="fa fa-remove"></i>
                    </button>
                     <button *ngIf="resettemp" class="btn btn-success" (click)="click($event,employee.employeeID,employee.empPassword,employee.empFirstName,employee.empMiddleName,employee.empLastName,employee.empType)" onclick="document.getElementById('reset').style.display='block'">
                        <i class="fa fa-repeat"></i>
                    </button>
                </td>
            </tr> 
        </tbody>
    </table>
</div>

<!--add-->
<!-- The Modal -->
<div id="add" class="modal">
    <span onclick="document.getElementById('add').style.display='none'" class="close" title="Close Modal">&times;</span>
        <!-- Modal Content  (ngSubmit)="onSubmitadd(user.value)" -->
        <form [formGroup]="complexForm" role="form" id="dataadd" class="modal-content animate" >
		    <div class="form-content">
                <div class="container" align="center"><br><br>
                    <div align="left" class="form-group" [ngClass]="{'has-error':!complexForm.controls['firstName'].valid && complexForm.controls['firstName'].touched}">
                            <label><b>First Name</b></label>
                            <input type="text" class="form-control input-underline input-lg" [formControl]="complexForm.controls['firstName']"  placeholder="Enter First Name"   [(ngModel)]="empFirstName" name="empFirstName"  >
                            <div *ngIf="complexForm.controls['firstName'].hasError('required') && complexForm.controls['firstName'].touched" class="alert alert-danger">You must include a first name.</div>
                            <div *ngIf="complexForm.controls['firstName'].hasError('pattern') && complexForm.controls['firstName'].touched" class="alert alert-danger">Symbols and numbers are not allowed</div>
                    </div>
                    <div align="left">
                            <label><b>Middle Name</b></label>
                            <input type="text" [ngModelOptions]="{standalone: true}" class="form-control input-underline input-lg" placeholder="Enter Middle Name"  [(ngModel)]="empMiddleName" name="empMiddleName"  >                           
                    </div>
                    <div align="left" class="form-group" [ngClass]="{'has-error':!complexForm.controls['lastName'].valid && complexForm.controls['lastName'].touched}">
                            <label><b>Last Name</b></label>
                            <input type="text" class="form-control input-underline input-lg" [formControl]="complexForm.controls['lastName']" placeholder="Enter Last Name"  [(ngModel)]="empLastName" name="empLastName"  >       
                            <div *ngIf="complexForm.controls['lastName'].hasError('required') && complexForm.controls['lastName'].touched" class="alert alert-danger">You must include a last name.</div>           
                            <div *ngIf="complexForm.controls['lastName'].hasError('pattern') && complexForm.controls['lastName'].touched" class="alert alert-danger">Symbols and numbers are not allowed</div> 
                    </div>
                    <div align="left" class="form-group" [ngClass]="{'has-error':!complexForm.controls['password'].valid && complexForm.controls['password'].touched}">
                            <label><b>Password</b></label>
                            <input type="password" class="form-control input-underline input-lg" [formControl]="complexForm.controls['password']" placeholder="Enter Password"  [(ngModel)]="empPassword" name="empPassword"  >       
                            <div *ngIf="complexForm.controls['password'].hasError('required') && complexForm.controls['password'].touched" class="alert alert-danger">You must include a password.</div>           
                            <div *ngIf="complexForm.controls['password'].hasError('minlength') && complexForm.controls['password'].touched" class="alert alert-danger">Password must be atleast 8 characters.</div>
                            <div *ngIf="complexForm.controls['password'].hasError('maxlength') && complexForm.controls['password'].touched" class="alert alert-danger">Password must not exceed 16 characters.</div>
                    </div>
                    <div align="left" class="form-group" [ngClass]="{'has-error':!complexForm.controls['type'].valid && complexForm.controls['type'].touched}">
                            <label><b>Employee Type</b></label>
                            <input #emptype type="text" (keyup)="onChangeInput(emptype)" class="form-control input-underline input-lg" [formControl]="complexForm.controls['type']" placeholder="Enter Employee Type"  [(ngModel)]="empType" name="empType" >     
                            <div *ngIf="complexForm.controls['type'].hasError('required') && complexForm.controls['type'].touched" class="alert alert-danger">You must include an employee type.</div>           
                    </div>
                    <button class="btn btn-default" (click) ='uncheck()'>Clear Rights</button>   
                    <br>       
                    <div align="left"  class="checkbox"> 
                        <!--
                            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; <input #right1 id="r1" type="checkbox" (change)="onChange(right1)" value="Add Customer" />Add Customer
                            &emsp;&emsp;&emsp; <input #right2 id="r2" type="checkbox" (change)="onChange(right2)" value="Edit Customer" />Edit Customer<br>
                            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; <input #right3 id="r3" type="checkbox"  (change)="onChange(right3)" value="Delete Customer" />Delete Customer
                            &nbsp;&nbsp;&nbsp;&emsp; <input #right4 id="r4" type="checkbox" (change)="onChange(right4)" value="Add Employee" />Add Employee<br>
                            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; <input #right5 id="r5" type="checkbox" (change)="onChange(right5)" value="Edit Employee" />Edit Employee
                            &emsp;&emsp;&emsp; <input #right6 id="r6" type="checkbox"  (change)="onChange(right6)" value="Delete Employee" />Delete Employee<br>
                            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; <input #right7 id="r7" type="checkbox"  (change)="onChange(right7)" value="Add Item" />Add Items
                            &nbsp;&nbsp;&nbsp;&nbsp;&emsp;&emsp;&emsp;&emsp; <input #right8 id="r8" type="checkbox"  (change)="onChange(right8)" value="Edit Item" />Edit Items<br>
                            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; <input #right9 id="r9" type="checkbox"  (change)="onChange(right9)" value="Delete Item" />Delete Items
                            &nbsp;&nbsp;&nbsp;&emsp;&emsp;&emsp; <input #right10 id="r10" type="checkbox"  (change)="onChange(right10)" value="View Transaction History" />View Transaction History<br>
                            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; <input #right11 id="r11" type="checkbox" (change)="onChange(right11)" value="View Item Statistics" />View Item Statistics                          
                            -->
                            <label class="checkbox-inline">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; <input #right1 id="r1" type="checkbox" (change)="onChange(right1)" value="Add Customer" />Add Customer</label>
                            <label class="checkbox-inline">&emsp;&emsp;&emsp; <input #right2 id="r2" type="checkbox" (change)="onChange(right2)" value="Edit Customer" />Edit Customer<br></label>
                            <label class="checkbox-inline"> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp; <input #right3 id="r3" type="checkbox"  (change)="onChange(right3)" value="Delete Customer" />Delete Customer</label>
                            <label class="checkbox-inline">&nbsp;&nbsp;&nbsp;&emsp; <input #right4 id="r4" type="checkbox" (change)="onChange(right4)" value="Add Employee" />Add Employee<br></label>
                            <label class="checkbox-inline"> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp; <input #right5 id="r5" type="checkbox" (change)="onChange(right5)" value="Edit Employee" />Edit Employee</label>
                            <label class="checkbox-inline">&emsp;&emsp;&emsp; <input #right6 id="r6" type="checkbox"  (change)="onChange(right6)" value="Delete Employee" />Delete Employee<br></label>
                            <label class="checkbox-inline">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp; <input #right7 id="r7" type="checkbox"  (change)="onChange(right7)" value="Add Item" />Add Items</label>
                            <label class="checkbox-inline">&nbsp;&nbsp;&nbsp;&nbsp;&emsp;&emsp;&emsp;&emsp; <input #right8 id="r8" type="checkbox"  (change)="onChange(right8)" value="Edit Item" />Edit Items<br></label>
                            <label class="checkbox-inline">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp; <input #right9 id="r9" type="checkbox"  (change)="onChange(right9)" value="Delete Item" />Delete Items</label>
                            <label class="checkbox-inline">&nbsp;&nbsp;&nbsp;&emsp;&emsp;&emsp; <input #right10 id="r10" type="checkbox"  (change)="onChange(right10)" value="View Transaction History" />View Transaction History<br></label>
                            <label class="checkbox-inline"> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp; <input #right11 id="r11" type="checkbox" (change)="onChange(right11)" value="View Item Statistics" />View Item Statistics    </label>                      
                            <!--
                            <label class="checkbox-inline"><input #right1 id="r1" type="checkbox" (change)="onChange(right1)" value="Add Customer" />Add Customer</label>
                            <label class="checkbox-inline"><input #right2 id="r2" type="checkbox" (change)="onChange(right2)" value="Edit Customer" />Edit Customer</label>
                            <label class="checkbox-inline"><input #right3 id="r3" type="checkbox"  (change)="onChange(right3)" value="Delete Customer" />Delete Customer</label>
                            <label class="checkbox-inline"><input #right4 id="r4" type="checkbox" (change)="onChange(right4)" value="Add Employee" />Add Employee</label><br>
                            <label class="checkbox-inline"><input #right5 id="r5" type="checkbox" (change)="onChange(right5)" value="Edit Employee" />Edit Employee</label>
                            <label class="checkbox-inline"><input #right6 id="r6" type="checkbox"  (change)="onChange(right6)" value="Delete Employee" />Delete Employee</label>
                            <label class="checkbox-inline"><input #right7 id="r7" type="checkbox"  (change)="onChange(right7)" value="Add Item" />Add Items</label>
                            <label class="checkbox-inline"><input #right8 id="r8" type="checkbox"  (change)="onChange(right8)" value="Edit Item" />Edit Items</label>
                            <label class="checkbox-inline"><input #right9 id="r9" type="checkbox"  (change)="onChange(right9)" value="Delete Item" />Delete Items</label>
                            <label class="checkbox-inline"><input #right10 id="r10" type="checkbox"  (change)="onChange(right10)" value="View Transaction History" />View Transaction History</label>
                            <label class="checkbox-inline"><input #right11 id="r11" type="checkbox" (change)="onChange(right11)" value="View Item Statistics" />View Item Statistics</label>             
                            -->
                  </div>
                    <div class="form-group"> 
                            <button [disabled]="!complexForm.valid" class="btn btn-primary" (click) ='onSubmitAdd()'>Save</button>          
                    </div>
                </div>
            </div>
        </form>
</div>

<!--delete-->
<div id="del" class="modal">
    <span onclick="document.getElementById('del').style.display='none'" class="close" title="Close Modal">&times;</span>
        <form role="form" id="datadel" class="modal-content animate" >
            <div class="container" align="center"><br><br><br><br>
                <!-- Modal Content -->
                <h3 align="center">Are you sure you want<br> to delete this Employee?</h3><br>
                <h4 align="center">Employee ID: {{employeeID}}</h4>
                <h4 align="center">Name: {{empLastName}}, {{empFirstName}} {{empMiddleName}}</h4><br><br>            
                <button class="btn btn-success" (click) ='onSubmitDel()'>
                    Yes
                </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-danger" onclick="document.getElementById('del').style.display='none'">
                    No
                </button><br><br><br><br>
            </div>
        </form>
</div>

<!--edit-->
<!-- The Modal -->
<div id="edit" class="modal">
    <span onclick="document.getElementById('edit').style.display='none'" class="close" title="Close Modal">&times;</span>
        <!-- Modal Content -->
        <form role="form" id="dataedit" class="modal-content animate"  >
		    <div class="form-content">
                <div class="container" align="center"><br><br>
                    <div align="left" class="form-group" [ngClass]="{'has-error':!complexForm.controls['firstName'].valid && complexForm.controls['firstName'].touched}">
                            <label><b>First Name</b></label>
                            <input type="text" class="form-control input-underline input-lg" [formControl]="complexeditForm.controls['firstName']"  [value]="empFirstName"   [(ngModel)]="empFirstName" name="empFirstName"  >                          
                            <div *ngIf="complexForm.controls['firstName'].hasError('required') && complexForm.controls['firstName'].touched" class="alert alert-danger">You must include a first name.</div>
                            <div *ngIf="complexForm.controls['firstName'].hasError('pattern') && complexForm.controls['firstName'].touched" class="alert alert-danger">Symbols and numbers are not allowed</div>
                    </div>
                    <div align="left">
                            <label><b>Middle Name</b></label>
                            <input (change)="onChangeMiddleName()" type="text" class="form-control input-underline input-lg" [ngModelOptions]="{standalone: true}" [value]="empMiddleName"  [(ngModel)]="empMiddleName" name="empMiddleName"  >
                           </div>
                    <div align="left" class="form-group" [ngClass]="{'has-error':!complexForm.controls['lastName'].valid && complexForm.controls['lastName'].touched}">
                            <label><b>Last Name</b></label>
                            <input type="text" class="form-control input-underline input-lg" [formControl]="complexeditForm.controls['lastName']" [value]="empLastName"  [(ngModel)]="empLastName" name="empLastName"  >                    
                            <div *ngIf="complexForm.controls['lastName'].hasError('required') && complexForm.controls['lastName'].touched" class="alert alert-danger">You must include a last name.</div>           
                            <div *ngIf="complexForm.controls['lastName'].hasError('pattern') && complexForm.controls['lastName'].touched" class="alert alert-danger">Symbols and numbers are not allowed</div> 
                    </div>
                    <div align="left" class="form-group" [ngClass]="{'has-error':!complexForm.controls['type'].valid && complexForm.controls['type'].touched}">
                            <label><b>Employee Type</b></label>
                            <input type="text" (keyup)="onChangeInputEdit(emptype)" class="form-control input-underline input-lg" [formControl]="complexeditForm.controls['type']" [value]="empType"  [(ngModel)]="empType" name="empType"  >
                            <div *ngIf="complexForm.controls['type'].hasError('required') && complexForm.controls['type'].touched" class="alert alert-danger">You must include an employee type.</div>           
                    </div>
                    <button class="btn btn-default" (click) ='uncheckedit()'>Clear Rights</button>          
                    <div align="left" class="form-check"> 
                            <label class="checkbox-inline">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; <input #rightedit1 id="re1" type="checkbox" name="edAddCustomer" [checked]="edAddCustomer"  [(ngModel)]="edAddCustomer" (change)="onChange(rightedit1)" value="Add Customer" />Add Customer</label>   
                            <label class="checkbox-inline">&emsp;&emsp;&emsp; <input #rightedit2 type="checkbox" id="re2" name="edEditCustomer" [checked]="edEditCustomer"  [(ngModel)]="edEditCustomer" (change)="onChange(rightedit2)" value="Edit Customer" />Edit Customer<br></label>   
                            <label class="checkbox-inline">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp; <input #rightedit3 id="re3" type="checkbox" name="edDelCustomer" [checked]="edDelCustomer"  [(ngModel)]="edDelCustomer" (change)="onChange(rightedit3)" value="Delete Customer" />Delete Customer</label>   
                            <label class="checkbox-inline">&nbsp;&nbsp;&nbsp;&emsp; <input #rightedit4 id="re4" type="checkbox" name="edAddEmployee" [checked]="edAddEmployee"  [(ngModel)]="edAddEmployee" (change)="onChange(rightedit4)" value="Add Employee" />Add Employee<br></label>   
                            <label class="checkbox-inline">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp; <input #rightedit5 id="re5" type="checkbox" name="edEditEmployee" [checked]="edEditEmployee"  [(ngModel)]="edEditEmployee" (change)="onChange(rightedit5)" value="Edit Employee" />Edit Employee</label>   
                            <label class="checkbox-inline"> &emsp;&emsp;&emsp; <input #rightedit6 type="checkbox" id="re6" name="edDelEmployee" [checked]="edDelEmployee"  [(ngModel)]="edDelEmployee" (change)="onChange(rightedit6)" value="Delete Employee" />Delete Employee<br></label>   
                            <label class="checkbox-inline">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp; <input #rightedit7 id="re7" type="checkbox" name="edAddItem" [checked]="edAddItem" [(ngModel)]="edAddItem" (change)="onChange(rightedit7)" value="Add Item" />Add Items</label>   
                            <label class="checkbox-inline">&nbsp;&nbsp;&nbsp;&nbsp;&emsp;&emsp;&emsp;&emsp; <input #rightedit8 id="re8" type="checkbox" name="edEditItem" [checked]="edEditItem" [(ngModel)]="edEditItem" (change)="onChange(rightedit8)" value="Edit Item" />Edit Items<br></label>   
                            <label class="checkbox-inline">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp; <input #rightedit9 id="re9" type="checkbox" name="edDelItem" [checked]="edDelItem" [(ngModel)]="edDelItem" (change)="onChange(rightedit9)" value="Delete Item" />Delete Items</label>   
                            <label class="checkbox-inline">&nbsp;&nbsp;&nbsp;&emsp;&emsp;&emsp; <input #rightedit10 type="checkbox" id="re10" name="edViewTransactionHistory" [checked]="edViewTransactionHistory" [(ngModel)]="edViewTransactionHistory" (change)="onChange(rightedit10)" value="View Transaction History" />View Transaction History<br></label>   
                            <label class="checkbox-inline">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp; <input #rightedit11 id="re11" type="checkbox" name="edViewItemStatistics" [checked]="edViewItemStatistics" [(ngModel)]="edViewItemStatistics" (change)="onChange(rightedit11)" value="View Item Statistics" />View Item Statistics</label>                          
                    </div>
                    <div class="form-group"> 
                            <button [disabled]="!complexeditForm.valid || (complexForm.controls['type'].pristine && complexForm.controls['firstName'].pristine && complexForm.controls['lastName'].pristine && verify)" class="btn btn-primary" (click) ='onSubmitEdit()'>Save</button>              
                    </div>
                </div>  
            </div>
        </form>
</div>

<!--rset-->
<!-- The Modal -->
<div id="reset" class="modal">
    <span onclick="document.getElementById('reset').style.display='none'" (click)="clear()" class="close" title="Close Modal">&times;</span>
        <!-- Modal Content" -->
        <form [formGroup]="complexForm4" role="form" id="datareset" class="modal-content animate" >
	        <div class="form-content">
                <div class="container" align="center"><br><br> 
                    <div align="left" class="form-group" [ngClass]="{'has-error':!complexForm4.controls['employeeID'].valid}">
                            <label><b>Employee ID</b></label> 
                            <input type="text" [formControl]="complexForm4.controls['employeeID']"  [(ngModel)]='empID' name='empID' class="form-control input-underline input-lg" id="empID" placeholder="Enter Employee ID">
						    <div *ngIf="complexForm4.controls['employeeID'].hasError('required') && complexForm4.controls['employeeID'].touched" class="alert alert-danger">You must enter a Employee ID.</div>                         
						    <div *ngIf="complexForm4.controls['employeeID'].hasError('pattern') && complexForm4.controls['employeeID'].touched" class="alert alert-danger">Employee ID can only consist of numbers.</div>                         
					</div>
                    <div align="left" class="form-group" [ngClass]="{'has-error':!complexForm4.controls['reemployeeID'].valid}">
                            <label><b>Re-Enter Employee ID</b></label>
                            <input type="text" [formControl]="complexForm4.controls['reemployeeID']" [(ngModel)]='reempID' name='reempID' class="form-control input-underline input-lg" id="reempID" placeholder="Re-enter Employee ID">
						    <div *ngIf="complexForm4.controls['reemployeeID'].hasError('required') && complexForm4.controls['reemployeeID'].touched" class="alert alert-danger">You must re-enter Employee ID.</div>
                            <div *ngIf="complexForm4.controls['reemployeeID'].hasError('pattern') && complexForm4.controls['reemployeeID'].touched" class="alert alert-danger">Employee ID can only consist of numbers.</div>
                    </div>
                    <div  class="form-group">
                            <button [disabled]="!complexForm4.valid"  class="btn btn-primary" (click) ='onSubmitEmpPass($event)'>Reset Employee Password</button>                          
                             <br><br>
                    </div>
                    
                </div>
            </div>
        </form>
</div>