<style>
    /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0; 
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
    </style>





<h3 align="right" *ngIf="addEmployee"><button class="btn btn-basic" onclick="document.getElementById('add').style.display='block'"><i class="fa fa-plus"></i></button></h3>
<div class="table">

    <table class="table">
		
        <thead>
            <th>Employee ID</th>
            <th>Last Name</th>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Type</th>
		<th>Options</th>
		
        </thead>
        <tbody>
             <tr *ngFor='let employee of employees'>
            <td>{{employee.employeeID}}</td>
            <td>{{employee.empLastName}}</td>
            <td>{{employee.empFirstName}}</td>
            <td>{{employee.empMiddleName}}</td>
            <td>{{employee.empType}}</td>
            <td>
                <button *ngIf="editEmployee" class="btn btn-info" (click)="click($event,employee.employeeID,employee.empPassword,employee.empFirstName,employee.empMiddleName,employee.empLastName,employee.empType)" onclick="document.getElementById('edit').style.display='block'"><i class="fa fa-pencil"></i></button>
     
     <button  *ngIf="delEmployee" class="btn btn-danger" (click)="click($event,employee.employeeID,employee.empPassword,employee.empFirstName,employee.empMiddleName,employee.empLastName,employee.empType)" onclick="document.getElementById('del').style.display='block'"><i class="fa fa-remove"></i></button>
    </td>
        </tr>
            
        
        </tbody>
    </table>
</div>

<!--add-->
<!--FINISH PASSING ID TO MODAL-->
<!-- The Modal -->
<div id="add" class="modal">
  <span onclick="document.getElementById('add').style.display='none'" 
class="close" title="Close Modal">&times;</span>

  <!-- Modal Content  (ngSubmit)="onSubmitadd(user.value)" -->
  <form role="form" id="dataadd" class="modal-content animate" >
				<div class="form-content">
      <div class="container" align="center">
      <br><br><br>
      <div class="form-group">
            <label><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;First Name</b></label>
            <input type="text"  placeholder="Enter First Name"   [(ngModel)]="empFirstName" name="empFirstName" required >
            <br><br>
      </div>
      <div class="form-group">
            <label><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Middle Name</b></label>
            <input type="text" placeholder="Enter Middle Name"  [(ngModel)]="empMiddleName" name="empMiddleName" required >
            <br><br>
      </div>

      <div class="form-group">
            <label><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Last Name</b></label>
            <input type="text" placeholder="Enter Last Name"  [(ngModel)]="empLastName" name="empLastName" required >
            <br><br>
      </div>

      <div class="form-group">
            <label><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Password</b></label>
            <input type="password" placeholder="Enter Password"  [(ngModel)]="empPassword" name="empPassword" required >
            <br><br>
      </div>

      <div class="form-group">
            <label><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Number</b></label>
            <input type="text" placeholder="Enter Employee Type"  [(ngModel)]="empType" name="empType" required >
            <br><br>
      </div>
   
       <div class="form-group"> 
            <input #right1 type="checkbox" (change)="onChange(right1)" value="Add Customer" />Add Customer
            <input #right2 type="checkbox" (change)="onChange(right2)" value="Edit Customer" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Edit Customer<br>
            <input #right3 type="checkbox" (change)="onChange(right3)" value="Delete Customer" />Delete Customer
            <input #right4 type="checkbox" (change)="onChange(right4)" value="Add Employee" />Add Employee<br>
            <input #right5 type="checkbox" (change)="onChange(right5)" value="Edit Employee" />Edit Employee
            <input #right6 type="checkbox" (change)="onChange(right6)" value="Delete Employee" />Delete Employee<br>
            <input #right7 type="checkbox" (change)="onChange(right7)" value="Add Item" />Add Items
            <input #right8 type="checkbox" (change)="onChange(right8)" value="Edit Item" />Edit Items<br>
            <input #right9 type="checkbox" (change)="onChange(right9)" value="Delete Item" />Delete Items
            <input #right10 type="checkbox" (change)="onChange(right10)" value="View Transaction History" />View Transaction History<br>
            <input #right11 type="checkbox"(change)="onChange(right11)" value="View Item Statistics" />View Item Statistics
            
      </div>
       <div class="form-group"> 
            <a class="btn rounded-btn" (click) ='onSubmitAdd($event, user.value)'>Register</a>
     
        </div>
      </div>
   </div>
   </form>
</div>


<!--delete-->
<div id="del" class="modal">
  <span onclick="document.getElementById('del').style.display='none'" 
class="close" title="Close Modal">&times;</span>
 <form role="form" id="datadel" class="modal-content animate" >
 <div class="container" align="center">
  <!-- Modal Content --><br><br><br><br>
    <h3 align="center">Are you sure you want<br> to delete this Employee?</h3><br>
    <h4 align="center">Employee ID:{{employeeID}}</h4>
    <h4 align="center">Name:{{empLastName}}, {{empFirstName}} {{empMiddleName}}</h4>
    <br><br>
    <button class="btn btn-success" (click) ='onSubmitDel($event, user.value)'><i class="fa fa-check"></i></button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="btn btn-danger" onclick="document.getElementById('del').style.display='none'"><i class="fa fa-remove"></i></button>
    <br><br><br><br>
</div>
</form>
</div>



<!--edit-->
<!-- The Modal -->
<div id="edit" class="modal">
  <span onclick="document.getElementById('edit').style.display='none'" 
class="close" title="Close Modal">&times;</span>

  <!-- Modal Content -->
  <form role="form" id="dataedit" class="modal-content animate" >
				<div class="form-content">
      <div class="container" align="center">
      <br><br><br>
      <div class="form-group">
            <label><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;First Name</b></label>
            <input type="text"  [value]="employeeID"   [(ngModel)]="employeeID" name="employeeID" readonly>
            <br><br>
      </div>
      <div class="form-group">
            <label><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;First Name</b></label>
            <input type="text"  [value]="empFirstName"   [(ngModel)]="empFirstName" name="empFirstName" required >
            <br><br>
      </div>
      <div class="form-group">
            <label><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Middle Name</b></label>
            <input type="text" [value]="empMiddleName"  [(ngModel)]="empMiddleName" name="empMiddleName" required >
            <br><br>
      </div>

      <div class="form-group">
            <label><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Last Name</b></label>
            <input type="text" [value]="empLastName"  [(ngModel)]="empLastName" name="empLastName" required >
            <br><br>
      </div>

      <div class="form-group">
            <label><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Password</b></label>
            <input type="password" [value]="empPassword"  [(ngModel)]="empPassword" name="empPassword" readonly >
            <br><br>
      </div>

      <div class="form-group">
            <label><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Employee Type</b></label>
            <input type="text" [value]="empType"  [(ngModel)]="empType" name="empType" required >
            <br><br>
      </div>
      <div class="form-group"> 
            <input #rightedit1 type="checkbox" name="edAddCustomer" [checked]="edAddCustomer"  [(ngModel)]="edAddCustomer" (change)="onChange(rightedit1)" value="Add Customer" />Add Customer
            <input #rightedit2 type="checkbox" name="edEditCustomer" [checked]="edEditCustomer"  [(ngModel)]="edEditCustomer" (change)="onChange(rightedit2)" value="Edit Customer" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Edit Customer<br>
            <input #rightedit3 type="checkbox" name="edDelCustomer" [checked]="edDelCustomer"  [(ngModel)]="edDelCustomer" (change)="onChange(rightedit3)" value="Delete Customer" />Delete Customer
            <input #rightedit4 type="checkbox" name="edAddEmployee" [checked]="edAddEmployee"  [(ngModel)]="edAddEmployee" (change)="onChange(rightedit4)" value="Add Employee" />Add Employee<br>
            <input #rightedit5 type="checkbox" name="edEditEmployee" [checked]="edEditEmployee"  [(ngModel)]="edEditEmployee" (change)="onChange(rightedit5)" value="Edit Employee" />Edit Employee
            <input #rightedit6 type="checkbox" name="edDelEmployee" [checked]="edDelEmployee"  [(ngModel)]="edDelEmployee" (change)="onChange(rightedit6)" value="Delete Employee" />Delete Employee<br>
            <input #rightedit7 type="checkbox" name="edAddItem" [checked]="edAddItem" [(ngModel)]="edAddItem" (change)="onChange(rightedit7)" value="Add Item" />Add Items
            <input #rightedit8 type="checkbox" name="edEditItem" [checked]="edEditItem" [(ngModel)]="edEditItem" (change)="onChange(rightedit8)" value="Edit Item" />Edit Items<br>
            <input #rightedit9 type="checkbox" name="edDelItem" [checked]="edDelItem" [(ngModel)]="edDelItem" (change)="onChange(rightedit9)" value="Delete Item" />Delete Items
            <input #rightedit10 type="checkbox" name="edViewTransactionHistory" [checked]="edViewTransactionHistory" [(ngModel)]="edViewTransactionHistory" (change)="onChange(rightedit10)" value="View Transaction History" />View Transaction History<br>
            <input #rightedit11 type="checkbox" name="edViewItemStatistics" [checked]="edViewItemStatistics" [(ngModel)]="edViewItemStatistics" (change)="onChange(rightedit11)" value="View Item Statistics" />View Item Statistics
            
      </div>
       <div class="form-group"> 
            <a class="btn rounded-btn" (click) ='onSubmitEdit($event, user.value)'>Save</a>
     
        </div>
         
        </div>
    
    </div>
     </form>
</div>