<h1 align="center">Orders</h1>
<div class="table">

    <table class="table">
		
        <thead>
            <tr>
                <th>Order Id</th>
                <th>Customer Id</th>
                <th>Date</th>
                <th>Total</th>
                <th>Status</th>
                <th>Remarks</th>
                <th>Delivery Time</th>
                <th>Packaging</th>
                <th>Location</th>
            </tr>
		
        </thead>
        <tbody>
           <tr *ngFor='let order of orders'>
            <td>{{order.orderID}}</td>
            <td>{{order.customerID}}</td>
            <td>{{order.orderDate}}</td>
            <td>₱{{order.orderTotal}}</td>
            <td>
                <select #stat [(ngModel)]="order.orderStatus" (change)="onChange(stat,$event,order.orderID,order.customerID,order.orderDate,order.orderTotal,order.orderStatus,order.orderRemarks,order.orderTime,order.packaging,order.location)">
                    <option  value="cancelled">cancelled</option>
                    <option value="pending">pending</option>
                    <option value="verified">verified</option>
                    <option value="delivered">delivered</option>        
                </select>
            </td>
            <td>{{order.orderRemarks}}</td>
            <td>{{order.orderTime}}</td>
            <td>{{order.packaging}}</td>
            <td>{{order.location}}</td>
            
           
          
        </tr>
            
        
        </tbody>
    </table>
</div>
